.contenedor-busqueda{
    width: 68%;
}
.logo-filtro{
    /* left: 121px; */
    top: 49px;
    float: left;
    left: 20%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

    color: #EB5757;
}
.buscador{
    width: 500px;
    height: 55px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    border-radius: 16px;
    transition: all .2s ease;
    margin: 10px 40px;
}

.linea{
    position: absolute;
    width: 55px;
    height: 0px;
    top: 32px;

    border: 1px solid #F2F2F2;
    transform: rotate(90deg);
}

.texto-busqueda{
    /* flex-direction: row; */
    float: right;
    width: 300px;
    height: 50px;
    background: #e8eaee;
    border: none;
    font-size: 10pt;
    float: right;
    color: #858383;
    padding-left: 45px;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    border-radius: 16px;
    transition: all .2s ease;
}


